.user-form{
   display: inline-flex;
   align-items: center;
   color: #fff; 
   border-radius: 5px;
   margin: 10px;
   padding: 20px 10px;
}
.text{
   padding: 0 10px;
}
select{
   background-color: transparent;
   padding: 0 1em 0 0;
   border-color: white;
   margin: 0;
   color: #fff;
   font-family: inherit;
   font-size: inherit;
   line-height: inherit;
}